<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <!-- Your django path -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\IposPython" /> 
    <!-- Your djangoname.settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="Ipos.settings" />
  </appSettings>

    <system.webServer>
        <handlers>
            <add name="IPOS" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python310\python.exe|C:\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" />
          <security>
    <requestFiltering allowDoubleEscaping="true"> </requestFiltering>
  </security>
    </system.webServer>
</configuration>
